{% extends 'aplicacion/base.html' %}
{% load static %}

{% block boton %}
<a class="navbar-brand" href="{% url 'genero_form' %}">Agregar Genero</a>
{% endblock boton %}

{% block titulo %}
    <h1>Peliculas y sus directores!!!</h1>
{% endblock titulo %}


{% block contenido %}
    <h1>GENEROS!!!!!!!!</h1>

    <table>
        <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
    </tr>
    {% for c in generos %}
    <tr>
        <td>{{ c.nombre }}</td>
        <td>{{ c.descripcion }}</td>
    </tr>  
    {% endfor %}
    </table> 
{% endblock contenido %}
    

    
